@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f9fafb; /* gray-50 */
    --foreground: #374151; /* gray-700 */

    --muted: #d1d5db;
    --muted-foreground: #6b7280;

    --border: rgba(33,33,33,.14);

    --accent: 21, 229, 119;
    --accent-foreground: 255, 255, 255;

    --button-border-color: var(--border);

    --input-border: var(--border);
    --input-background: #FFF;
    --input-ring: rgb(var(--accent));
    
    --radius: 1rem;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .dark {
    --background: #27272a; /* zinc-800 */
    --foreground: #FFFFFF;

    --muted: #3f3f46; /* zinc-700 */
    --muted-foreground: #d4d4d8; /* zinc-400 */
    
    --border: #71717a; /*zinc-500*/
    
    --input-border: var(--border);
    --input-background: #FFF;
    --input-ring: 240 4.9% 83.9%;
  }
  
  body {
    @apply bg-[--background] text-[--foreground];
  }
}

@layer components {
  
}