@import "@renovy/web-ui/src/styles/global.css";

:root {
  --accent: 35, 69, 107;

  --page-padding: 0.5rem;
}

h1 {
  @apply text-4xl my-3 font-semibold;
}

h2 {
  @apply text-2xl my-3 pb-2 font-semibold border-b border-zinc-300 dark:border-slate-500;
}

h3 {
  @apply text-xl mb-3 mt-5 font-semibold;
}

pre {
  overflow-x: auto;
  @apply p-4 rounded-md;
}