@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: 35, 69, 107;

    --page-padding: 0.5rem;
  }

  .dark {
  }
}

@layer components {
  h1 {
    @apply text-4xl my-3 pb-2;
  }

  h2 {
    @apply text-3xl my-3 pb-2 border-b border-zinc-300 dark:border-slate-500;
  }

  pre {
    overflow-x: auto;
    @apply p-4 rounded-md;
  }
}